@charset "UTF-8";
.helptitle{
    font-size: 52px;
    color: #807B84; /*色を正式に聞く*/
    text-align: center;
}
.help_subtitle{
    background-color: #888;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 #000;
    margin:0 300px 0 300px;
}

.help_explain{
    width: fit-content;
    margin-left: 300px;
    text-align: left;
    list-style: none;
    font-size: 30px;
}