@charset "UTF-8";


.catetitle{
	background-color: #888;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 #000;
    margin:0 300px 0 300px;
}
.img-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}

.img-row img{
	width: 70px;
    height: 70px;
    display: block;
	}