@charset "UTF-8";

/* すべてのページに適用-ヘッダー（ログイン前のヘッダーは個別で作ってます）  */
.header {
    background-color: #C9E4F4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-title {
    font-size: 60px;
    margin: 0;
    color: #807B84;
}
.subtitle {
    font-size: 30px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
}
.nav {
    position: absolute;
    top: 50px;
    right: 40px;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav a {
    text-decoration: none;
    font-size: 30px;
    color: #807B84;  
    padding: 16px 40px; 
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
}

/* すべてのページに適用-新規登録画面 */
.user_regist_form {
    width :900px;
    margin: 60px auto;
}

.regist_form_row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.regist_form_row label {
    width: 400px;
    text-align: right;
    margin-right: 50px;
    font-size: 40px;
    color: #807B84;
}

.regist_form_row input {
    flex: 2;
    padding: 25px;
    font-size: 20px;
    border: 1px solid #000000;
}

.form_click {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
}

.form_click button {
    font-size: 40px;
    padding: 30px 50px;
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.form_click button[type="submit"] {
    background-color: #ffffff;
    color: #807B84;
}

.form_click button[type="reset"] {
    background-color: #807B84;
    color: #ffffff;
}